.about {
    padding: 229px 0 177px;
    min-height: 922px;
    background-color: #245852;
    @include mobile {
        padding: 50px 0 77px;
        min-height: 622px;
    }
    .container {
        height: 100%;
        max-width: calc(var(--container-width) + 97px);
    }
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }
}
.about__wrapper-content {
    & .about__title {
        color: #fff;
        @include mobile {
            margin-bottom: 30px;
        }
    }
}

.about__content {
    margin-bottom: 57px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(1.125rem, 0.9954rem + 0.6481vw, 1.5625rem);
    line-height: 157%;
    color: #fff;
    @include mobile {
        margin-bottom: 37px;
    }
}
.about__video-wrapper {
}
