.cta__card-wrapper {
    margin-top: 187px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 95px;
    @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
    }
}
.cta__card-item {
    flex-basis: calc(100% / 3);
    position: relative;
    @include mobile {
        padding: 0px 20px;
        text-align: center;
    }
    &:nth-child(1)::before {
        content: "";

        position: absolute;
        left: 30px;
        top: -50px;
        width: 100%;
        height: 100%;

        background-image: url("./../../img/cta/elements/01.png");
        background-repeat: no-repeat;
    }
    &:nth-child(2) {
        margin-top: 287px;
        @include mobile {
            margin-top: 30px;
        }
        &::before {
            content: "";

            position: absolute;
            left: 30px;
            top: -50px;
            width: 100%;
            height: 100%;

            background-image: url("./../../img/cta/elements/02.png");
            background-repeat: no-repeat;
        }
    }
    &:nth-child(3) {
        margin-top: 60px;
        @include mobile {
            margin-top: 30px;
        }
        &::before {
            content: "";

            position: absolute;
            left: 30px;
            top: -50px;
            width: 100%;
            height: 100%;

            background-image: url("./../../img/cta/elements/03.png");
            background-repeat: no-repeat;
        }
    }
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.1);
    }
}
.cta__card-title {
    margin-bottom: 55px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(1.125rem, 0.9028rem + 1.1111vw, 1.875rem);
    line-height: 150%;
    text-align: center;
    color: #000;
    @include mobile {
        margin-bottom: 20px;
    }
}
.cta__card-title--align {
    text-align: right;
}
.cta__card-content {
    margin-bottom: 60px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
    line-height: 150%;
    color: #424242;
}
.cta__card-img {
}
