.footer {
	background: #245852;
	padding: 104px 0 144px;
	font-size: 32px;
	color: #fff;

	// h1 {
	// 	font-size: 32px;
	// }

	a {
		// color: var(--link-color);
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 25px;
		color: #fff;
	}

	// @media (max-width: 1200px) {
	// 	font-size: 26px;
	// }
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 74px;
}
.footer__nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 60px;
	& a:hover {
		color: grey;
	}
}
// .footer__copyright {
// 	padding: 10px 0;
// 	font-size: 16px;
// }
