.footer {
	background: #245852;
	padding: 104px 0 144px;
	font-size: 32px;
	color: #fff;
	@include mobile {
		padding: 54px 0 74px;
	}

	// h1 {
	// 	font-size: 32px;
	// }

	a {
		// color: var(--link-color);
		font-family: var(--font-family);
		font-weight: 600;
		font-size: clamp(1.125rem, 0.9954rem + 0.6481vw, 1.5625rem);
		color: #fff;
	}

	// @media (max-width: 1200px) {
	// 	font-size: 26px;
	// }
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 74px;
	@include mobile {
		align-items: center;
		gap: 34px;
	}
}
.footer__nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 60px;
	@include mobile {
		align-items: center;
		gap: 20px;
	}
	& a:hover {
		color: grey;
	}
}
// .footer__copyright {
// 	padding: 10px 0;
// 	font-size: 16px;
// }
