.header {
	background-color: #fff;
	padding: 17px 0;
	@include mobile {
		padding: 34px 0;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.header__row-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 172px;
}
.header__nav {
	@include tablet {
		display: none;
	}
}
.nav__btn-wrapper {
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
	@include mobile {
		display: none;
	}
}
