.product {
    padding: 120px 0 160px;
    @include mobile {
        padding: 60px 0 80px;
    }
    .container {
        height: 100%;
    }
}

.product__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
        flex-direction: column;
        gap: 290px;
    }
}
.product__img-wrapper {
    position: relative;
    flex-basis: 100%;
}
.product__img {
    border-radius: 18px;
    transition: all 0.2s ease-in;
    &:hover {
        background: rgba(1, 153, 109, 0.2);
    }
}
.product__content-wrapper {
    flex-basis: 100%;
}
.product__subtitle {
    position: relative;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #424242;
    @include mobile {
        text-align: center;
    }
}

.product__title {
    margin-bottom: 20px;
    @include mobile {
        text-align: center;
    }
}
.product__content {
    margin-bottom: 40px;
    max-width: 530px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
    line-height: 157%;
    color: #484848;
    @include mobile {
        text-align: center;
    }
}
