.about__video-wrapper {
}
.video__link {
    position: relative;
    display: inline-block;
    text-align: center; //выровняет по центру картинку
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease-in;
    }
    &:hover::before {
        background: rgba(36, 43, 51, 0.7);
    }
}
.icon--video {
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
}
.video__link:hover .icon--video {
    transform: translate(-50%, -50%) scale(1.2); // чтобы иконка не перемещалась вниз нужно еще прописать транслейт, чтобы транслейт не отменялся
    filter: saturate(1.5);
}
